@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

:root {
  --primary-color: #0e0f22;
  --secondary-color: #2d2f46;
}

* {
  box-sizing: border-box;
}

.hidden {
	display: none!important;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
	position: fixed;
	width: 100vw;
	z-index: 2;
	opacity: 0.7;
	transition: opacity 0.3s ease-in;
}

header:hover {
	opacity: 1;
}



.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

.movie {
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 3px;
}

.movie img {
  width: 100%;
	height: auto;
	transition: opacity 0.2s ease-in;
	aspect-ratio: 2/3;
	object-fit: contain;
	background-color: var(--primary-color);
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
	font-size: 2rem;
	text-align: center;
  margin-top: 0;
}

.rating-container {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	right: 1rem;
	bottom: 1.3rem;
}

.rating {
	display: inline-block;
	font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.rating.green {
  color: lightgreen;
}

.rating.red {
  color: red;
}

.rating.orange {
  color: orange;
}

.overview {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
	transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  overflow-y: auto;
}

.movie:hover {
  border: 2px solid orange;
  cursor: pointer;
  img {
    opacity: 0.3;
  }
}

.movie:hover .overview {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}